.user-sing-comp {
  background-color: rgb(255, 230, 204);
  padding: 3rem;
  margin: 2rem;
  border: 1px solid rgb(243, 171, 93);
}

.line {
  border-top: 5px solid rgb(0, 0, 0);
}

strong {
  margin: 0 1rem 0 1rem;
}
